fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg[binary]
psycopg2-binary
python-multipart
scikit-learn
numpy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
aiogram
